[Unit]
Description=Oxe Spot Watchdog

[Service]
WorkingDirectory=/home/pi/oxe_spot
ExecStart=/home/pi/oxe_spot/scripts/oxe_watchdog.sh

[Install]
WantedBy=default.target
