[Unit]
Description=Oxe Spot Watchdog

[Service]
WorkingDirectory=/home/isaac/oxe_spot_snap
ExecStart=/home/isaac/oxe_spot_snap/scripts/oxe_watchdog.sh

[Install]
WantedBy=default.target
